@inherits CultureChangeAwareComponent

@page "/counter"
@inject AppState AppState
@inject NavigationManager Nav
@inject IStringLocalizer<Counter> Loc
@inject ILogger<Counter> Logger

<PageTitle>@Loc["Title"]</PageTitle>

<h1>@Loc["Title"]</h1>

<p>@Loc["Parent"] @Parent</p>
<p role="status">@Loc["CurrentCount"] @AppState.Counter</p>
<p>@Loc["FormattedValue"] @(String.Format("{0:c}", 1234))</p>
<input type="text" @bind="SomeNumber"/>
<button class="btn btn-primary" @onclick="IncrementCount">@Loc["Click"]</button>
<button class="btn btn-primary" @onclick="Reload">@Loc["Reload"]</button>

@code {
    [Parameter]
    public string Parent { get; set; } = "App";

    private int? _someNumber;

    public int? SomeNumber {
        get {
            Logger.LogInformation("Getting SomeNumber {Value}", _someNumber);
            return _someNumber;
        }
        set
        {
            Logger.LogInformation("Setting SomeNumber {Value}", value);
            _someNumber = value;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Logger.LogInformation("OnAfterRender {firstRender}", firstRender);
        base.OnAfterRender(firstRender);
    }

    private void IncrementCount()
    {
        AppState.Counter++;
    }

    private void Reload()
    {
        Nav.NavigateTo(Nav.Uri, forceLoad: true);
    }
}
